{% extends "layout.html" %}

{% block title %}
    Popularne Pieczątki
{% endblock %}

{% block main %}  
    <div class="container text-center">
        <h2>Popularne produkty</h2>
    </div>

    <section class="boxes">
        <div class="container">
            <div class="box">  
                <img alt="colop_printer_20" src="static/colop_printer_20.jpeg">
                <h3 class="box-title">Colop Printer 20</h3>
                <p class="box-content">18 zł</p>
                <form action="/product" method="get">
                    <input type="hidden" id="3" name="id" value="3">
                    <input type="submit" class="box-btn" value="Obejrzyj produkt">
                </form>
            </div>

            <div class="box">
                <img alt="colop_printer_30" src="static/colop_printer_30.jpeg">
                <h3 class="box-title">Colop Printer 30</h3>
                <p class="box-content">24 zł</p>
                <form action="/product" method="get">
                    <input type="hidden" id="2" name="id" value="2">
                    <input type="submit" class="box-btn" value="Obejrzyj produkt">
                </form>
            </div>

            <div class="box">
                <img alt="trodat_4912" src="static/trodat/trodat_4912/trodat_4912_red.jpeg">
                <h3 class="box-title">Trodat Printy 4912</h3>
                <p class="box-content">30 zł</p>
                <form action="/product" method="get">
                    <input type="hidden" id="1" name="id" value="1">
                    <input type="submit" class="box-btn" value="Obejrzyj produkt">
                </form>              
            </div>

            <div class="box">
                <img alt="trodat_9511" src="static/trodat/trodat_9511/trodat_9511_red.jpeg">
                <h3 class="box-title">Trodat Pocket Printy 9511</32>
                <p class="box-content">23 zł</p>
                <form action="/product" method="get">
                    <input type="hidden" id="4" name="id" value="4">
                    <input type="submit" class="box-btn" value="Obejrzyj produkt">
                </form>
            </div>

            <div class="box">
                <img alt="wagraf_b_2" src="static/wagraf_b_2.jpg">
                <h3 class="box-title">Wagraf b 2</h3>
                <p class="box-content">20 zł</p>
                <form action="/product" method="get">
                    <input type="hidden" id="5" name="id" value="5">
                    <input type="submit" class="box-btn" value="Obejrzyj produkt">
                </form>
            </div>
        </div>
    </section>
{% endblock %}
