{% extends "layout.html" %}

{% block title %}
    Popularne Pieczątki
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">
            <h2>Kontakt i dane firmy</h2>
            <hr>
            <p>MG Print Małgorzata Giemeła</p>
            <p>Al. Jana Pawła II</p>
            <p>43A/37B</p>
            <p>01-001 Warszawa</p>
            <p>NIP: 5320006030, REGON: 142960000</p>
            <p>Kontakt telefoniczny (od poniedziałku do piątku, w godzinach 8:00-16:00): +48602630187</p>
            <p>Kontakt mailowy: giemela@yahoo.com</p>
        </div>
    </div>
{% endblock %}
 