{% extends "layout.html" %}

{% block title %}
    Zmiana hasła
{% endblock %}

{% block main %}
<br>
<form action="/password" method="post">
    <div class="boxes">
        <div class="container">
            <div class="box">
                <h5>Zmień hasło</h5>
                <br>
                <p class="fw-light">Hasło musi zawierać:</p>
                <ul class="fw-light list-unstyled">
                    <li>min. 8 znaków</li>
                    <li>min. 1 małą literę</li>
                    <li>min. 1 wielką literę</li>
                    <li>min. 1 cyfrę</li>
                    <li>min. 1 znak specjalny(!, @, #, $, %, ^, &, *, (, ), -, _ )</li>
                </ul>
    
                <div class="mb-3">
                    <input class="form-control fw-light mx-auto w-auto" id="password" name="new_password" placeholder="Nowe hasło" type="password">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Powtórz" type="password">
                </div>
                <button class="btn box-btn mx-auto" type="submit">Zapisz</button>
            </div>
        </div>
    </div>        
</form>
{% endblock %}