{% extends "layout.html" %}

{% block title %}
    Wszystkie Pieczątki
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">
            <h2>Pieczątki</h2>
            <hr>
                <a href="colop20.html">
                <img alt="colop20" src="photos/colop20.jpg">
            </a>
            <a href="colop.html">
                <img alt="colop30" src="photos/colop30.jpg">
            </a>
            <a href="trodat.html">
                <img alt="trodat4912" src="photos/trodat4912.jpg">
            </a>
            <a href="trodat.html">
                <img alt="trodat9511" src="photos/trodat9511.jpg">
            </a>
            <a href="wagraf.html">
                <img alt="wagraf2" src="photos/wagraf2.jpg">
            </a>
        </div>
{% endblock %}
